/*//////////////////////////////////////////////////////////////////////////////////////////*/
/* COLOR CSS 1*/
/*//////////////////////////////////////////////////////////////////////////////////////////*/


a,
.text-primary,
.text-primary_h:hover,
.text-primary_b:before,
.text-primary_a:after,
.list > li > a:hover,
.pager li > a:hover,
.pager li > a:hover .icon,
.search-close:hover,
.breadcrumb > li > a:hover,
.ui-total-number,
.b-persona-main__desc,
.footer-nav__link:hover,
.header-top-links__item:hover,
.header .header-search-main__link:hover {color: #18a6a4;}


.bg-primary,
.bg-primary_h:hover,
.bg-primary_b:before,
.bg-primary_a:after,
.tooltip-1 .tooltip-inner,
.btn-primary,
.forms__label-check-1:after,
.forms__label-radio-2:before,
.panel-default > .panel-heading,
.btn-default:hover,
.chosen-container-multi .chosen-choices li.search-choice,
.chosen-container .chosen-results li.highlighted {background-color: #18a6a4;}


.border_prim,
.border_prim_h:hover,
.progress_border_primary,
.btn-primary,
.forms__label-radio-2:before {border-color: #18a6a4;}

.border-t_prim,
.border-t_prim_h:hover,
.tooltip-1.top .tooltip-arrow,
.tooltip-1.top-left .tooltip-arrow,
.tooltip-1.top-right .tooltip-arrow {border-top-color: #18a6a4;}

.border-r_prim,
.border-r_prim_h:hover,
.tooltip-1.right .tooltip-arrow {border-right-color: #18a6a4;}

.border-b_prim,
.border-b_prim_h:hover,
.tooltip-1.bottom .tooltip-arrow,
.tooltip-1.bottom-left .tooltip-arrow,
.tooltip-1.bottom-right .tooltip-arrow,
.table_primary > thead > tr > th,
.collapse.in {border-bottom-color: #18a6a4;}

.border-l_prim,
.border-l_prim_h:hover,
.tooltip-1.left .tooltip-arrow,
.border-left_primary:before,
.b-blockquote-1 {border-left-color: #18a6a4;}

#page-preloader .spinner {
  border-color: #18a6a4 #18a6a4 #18a6a4 transparent;
}

.pagination__icon:hover {
  stroke: #18a6a4;
}


.ic-primary {
  stroke: #18a6a4 !important;
}
