/*///////////////////////////////////////////////////////////////////////////////////////////*/
/* RESPONSIVE CSS */
/*///////////////////////////////////////////////////////////////////////////////////////////*/


@media (min-width:1441px) {
  .parallax {background-size: cover;}
  .l-theme {
    padding-left: 100px;
    padding-right: 100px;
  }
}
/* end 1441px */



@media (min-width:1199px) and (max-width:1350px) {
}
/* end 1199px-1350px */



@media (min-width:992px) and (max-width:1199px) {
}
/* end 992px-1199px */



@media (max-width:1199px) {
  .block-table_lg {
    display: block;
  }
  .text-right_lg,
  .text-center_lg {
    text-align: left;
  }
  .pull-left_lg,
  .pull-right_lg {
    float: none;
  }
}
/* end 1199px */



@media (max-width:991px) {
  .owl-theme.owl-carousel {
    margin-left: 0;
  }
  .owl-carousel .owl-item {
    padding-left: 0;
  }
  .footer .footer-section__list li {
    width: 100%;
  }
  .section-default {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .form-search-global__input {
    font-size: 30px;
  }
  .form-search-global__btn {
    top: 0;
    font-size: 18px;
  }
  .block-table_md {
    display: block;
  }
  .b-pricing {
    margin-bottom: 30px;
  }
  .text-right_md,
  .text-center_md {
    text-align: left;
  }
  .pull-left_md,
  .pull-right_md {
    float: none;
  }
}
/* end 991px */



@media (max-width:991px) and (min-width:768px) {
}
/* end 991px-768px */



@media (max-width:767px) {
  .block-table_sm {
    display: block;
  }
  .b-isotope__filter li {
    display: block;
    margin-bottom: 10px;
  }
  .grid-sizer,
  .grid-item,
  .grid-item_wx2 {
    width: 100%;
    float: none;
  }
  .navbar-nav {
    margin: 0;
  }
  .about-author__inner {
    padding-left: 0;
  }
  .comments-list .children {
    margin-left: 40px;
  }
  .nav-tabs li {
    display: block;
  }
  p + p {
    margin-top: 10px;
  }
  .block-table__inner img {
    width: 100%;
    height: auto;
  }
  .map {
    height: 300px;
  }
  .text-right_sm,
  .text-center_md {
    text-align: left;
  }
  .pull-left_sm,
  .pull-right_sm {
    float: none;
  }
}
/* end 767px */



@media (max-width:767px) and (min-width:480px) {
  .blocks-inline > li {
    margin-right: 0;
    margin-left: 0;
  }
}
/* end 767px-480px */



@media (max-width:480px) {
  .comments-list .avatar-placeholder {
    float: none;
    margin-bottom: 30px;
  }
  .comments-list .comment-inner {
    padding-left: 0;
  }
  .pagination > li:first-child,
  .pagination > li:last-child {
    display: none;
  }
}
/* end 480px */

